[Desktop Entry]
Version=1.0
Name=KSOC Core
Comment=KSOC P2P Cryptocurrency
Comment[fr]=KSOC, monnaie virtuelle cryptographique pair à pair
Comment[tr]=KSOC, eşten eşe kriptografik sanal para birimi
Exec=ksoc-qt %u
Terminal=false
Type=Application
Icon=ksoc128
MimeType=x-scheme-handler/ksoc;
Categories=Office;Finance;
StartupWMClass=Ksoc-qt
