# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=KSOC Core
Comment=KSOC Core QT test network
GenericName=KSOC Digital Currency QT client testnet network
Exec=ksoc-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/ksoc_testnet.png
MimeType=x-scheme-handler/piv;
Categories=X-Office;X-Finance;
Keywords=internet;ksoc;zpiv;tpiv;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
